// *{
//   text-align: center;
// }

.add-btn {
    background-color: rgb(206, 240, 237);
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: auto;
    font-weight: bold;
    width: 180px;
    text-align: center;
}